<div class="panel-heading">
  <h4 class="panel-title">FishOn!</h4>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item"><%= link_to 'Create a Fishing Trip', new_fishing_trip_path %></li>
    <li class="list-group-item"><%= link_to 'Create a Member', new_member_path %></li>
  </ul>
</div>