<div class="panel-heading">
  <h4 class="panel-title">Species</h4>
</div>
<div class="panel-body">
  <p><%= link_to 'New Species', new_species_path %></p>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @species.each do |species| %>
          <tr>
            <td><%= species.name %></td>
            <td><%= link_to 'View', species %></td>
            <td><%= link_to 'Edit', edit_species_path(species) %></td>
            <!--<td><%= link_to 'Destroy', species, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>