<div class="panel-heading">
  <h4 class="panel-title">Viewing Species</h4>
</div>
<div class="panel-body">
  <p><%= link_to 'Index', species_index_path %></p>
  <ul class="list-group">
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Name</h4>
      <h5 class="list-group-item-text"><%= @species.name %></h5>
    </li>
  </ul>
</div>