<div class="panel-heading">
  <h4 class="panel-title">
    Fishing Trip #<%= @fishing_trip.id %>,
    Name: <%= @fishing_trip.name %>,
    Date: <%= @fishing_trip.created_at.to_s %>
  </h4>
</div>
<div class="panel-body">
  <p><%= link_to "New Fish", new_fish_path %></p>
  <% @members.each do |member| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><%= member.first_name %> <%= member.last_name %></h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Species</th>
                <th>Count</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <% if member.species_count_hash.any? %>
                  <% member.species_count_hash.each { |key, value| %>
                      <tr>
                        <td><%= key.name %></td>
                        <td><%= value %></td>
                        <td><%= link_to "Add " + key.name, new_fish_path(species_id: key.id, member_id: member.id, fishing_trip_id: @fishing_trip.id) %></td>
                      </tr>
                  <% } %>
              <% else %>
                  <tr>
                    <td>None</td>
                    <td>0</td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  <% end %>
</div>