// Place all the styles related to the FishingTrips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  text-align: left;
}
.body{
  text-align: left;
}
.member{
  text-align: left;
  width: auto;
}
.first_name {
  //width: 75px;
  width: auto;
}

.last_name {
  //width: 100px;
  width: auto;
}

.species {
  //width: 75px;
  width: auto;
}

.count{
  width: auto;
}