<%= simple_form_for @fishing_trip do |sf| %>
    <%= sf.error_notification %>
    <%= sf.input :name %>
    <%= sf.association :members, label_method: :formatted_name, value_method: :id, as: :check_boxes %>
    <%= sf.button :submit %>
<% end %>