<div class="panel-heading">
  <h4 class="panel-title">Fishing Trips</h4>
</div>
<div class="panel-body">
  <p><%= link_to 'New Fishing Trip', new_fishing_trip_path %></p>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <!--<th>ID</th>-->
        <th>Name</th>
        <!--<th>Date</th>-->
        <th colspan="2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @fishing_trips.each do |fishing_trip| %>
          <tr>
            <!--<td><%= fishing_trip.id %></td>-->
            <td><%= fishing_trip.name %></td>
            <!--<td><%= fishing_trip.created_at.to_s %></td>-->
            <td><%= link_to 'View', fishing_trip %></td>
            <td><%= link_to 'Edit', edit_fishing_trip_path(fishing_trip) %></td>
            <!--<td><%= link_to 'Destroy', fishing_trip, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>