<!--
<div class="panel-heading">
  <h4 class="panel-title">
    Fishing Trip: #<%= @fishing_trip.id.to_s %>,
    Name: <%= @fishing_trip.name %>,
    Date: <%= @fishing_trip.created_at.to_s %>
  </h4>
</div>
<div class="panel-body">
  <p><%= link_to "Add Fish", new_fish_path %></p>
  <% @members.each do |member| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title"><%= member.first_name %> <%= member.last_name %></h5>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>Species</th>
                <th>Count</th>
              </tr>
              </thead>
              <tbody>
              <% if member.species_count_hash.any? %>
        <% member.species_count_hash.each { |key, value| %>
                      <tr>
                        <td><%= key.name %></td>
                        <td><%= value %></td>
                      </tr>
                  <% } %>
    <% else %>
                  <tr>
                    <td>None</td>
                    <td>0</td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  <% end %>
</div>
-->
<ul class="list-group">
  <li class="list-group-item disabled">
    <strong>
      Fishing Trip: #<%= @fishing_trip.id.to_s %>,
      Name: <%= @fishing_trip.name %>,
      Date: <%= @fishing_trip.created_at.to_s %>
    </strong>
  </li>
  <li class="list-group-item">
    <%= link_to "Add Fish", new_fish_path %>
  </li>
  <% @members.each do |member| %>
      <li class="list-group-item disabled">
        <strong>
          <%= member.first_name %> <%= member.last_name %>
        </strong>
      </li>
      <% if member.species_count_hash.any? %>
          <% member.species_count_hash.each { |key, value| %>
              <li class="list-group-item">
                <%= key.name %>
                <span class="badge">
                  <%= value %>
                </span>
              </li>
          <% } %>
      <% end %>
  <% end %>
</ul>