<%= simple_form_for @member do |sf| %>
    <%= sf.error_notification %>
    <%= sf.input :first_name %>
    <%= sf.input :last_name %>
    <!--
    <%= sf.input :email %>
    <%= sf.input :password %>
    <%= sf.input :password_confirmation %>
    -->
    <%= sf.button :submit %>
<% end %>