<div class="panel-heading">
  <h4 class="panel-title">Members</h4>
</div>
<div class="panel-body">
  <p><%= link_to 'New Member', new_member_path %></p>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <!--<th>Email</th>-->
        <th>Fishing Trips</th>
        <th colspan="2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @members.each do |member| %>
          <tr>
            <td><%= member.first_name %></td>
            <td><%= member.last_name %></td>
            <!--<td><%= member.email %></td>-->
            <td><%= link_to 'Fishing Trips', fishing_trip_members_member_fishing_trips_path(id: member.id) %></td>
            <td><%= link_to 'View', member %></td>
            <td><%= link_to 'Edit', edit_member_path(member) %></td>
            <!--<td><%= link_to 'Destroy', member, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>