<div class="panel-heading">
  <h4 class="panel-title">Viewing Member</h4>
</div>
<div class="panel-body">
  <p><%= link_to 'Index', members_path %></p>
  <ul class="list-group">
    <!--
    <li class="list-group-item">
      <h4 class="list-group-item-heading">ID</h4>
      <h5 class="list-group-item-text"><%= @member.id %></h5>
    </li>
    -->
    <li class="list-group-item">
      <h4 class="list-group-item-heading">First Name</h4>
      <h5 class="list-group-item-text"><%= @member.first_name %></h5>
    </li>
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Last Name</h4>
      <h5 class="list-group-item-text"><%= @member.last_name %></h5>
    </li>
    <!--
    <li class="list-group-item">
    <h4 class="list-group-item-heading">Email</h4>
    <h5 class="list-group-item-text"><%= @member.email %></h5>
    </li>
    -->
  </ul>
</div>