<%= simple_form_for @fish do |sf| %>
    <%= sf.error_notification %>
    <%= sf.association :species, label_method: :name, value_method: :id, include_blank: false %>
    <%= sf.association :member, label_method: :formatted_name, value_method: :id, include_blank: false %>
    <%= sf.association :fishing_trip, label_method: :name, value_method: :id, include_blank: false %>
    <%= sf.input :ipl, input_html: { min: '0', step: 'any' }, label: 'Length' %>
    <%= sf.input :fpl, collection: @decimals, label: 'Remainder', as: :select %>
    <%= sf.button :submit %>
<% end %>