<ul class="list-group">
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Species</h4>
    <h5 class="list-group-item-text"><%= link_to @fish.species.name, @fish.species %></h5>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Member</h4>
    <h5 class="list-group-item-text">
      <%= link_to @fish.member.formatted_name, @fish.member %>
    </h5>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Fishing Trip</h4>
    <h5 class="list-group-item-text">
      <%= link_to @fish.fishing_trip.created_at.to_s, @fish.fishing_trip %>
    </h5>
  </li>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Length</h4>
    <h5 class="list-group-item-text"><%= @fish.length %></h5>
  </li>
</ul>