<div class="panel-heading">
  <h4 class="panel-title">Fish</h4>
</div>
<div class="panel-body">
  <p><%= link_to 'New Fish', new_fish_path %></p>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Species</th>
        <th>Member</th>
        <th>Fishing Trip</th>
        <th>Length</th>
        <th colspan="3">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @fish.each do |fish| %>
          <tr>
            <td><%= fish.species.name %></td>
            <td><%= fish.member.formatted_name %></td>
            <td><%= fish.fishing_trip.id %></td>
            <td><%= fish.length %></td>
            <td><%= link_to 'View', fish %></td>
            <td><%= link_to 'Edit', edit_fish_path(fish) %></td>
            <td><%= link_to 'Destroy', fish, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>