<div class="panel-heading">
  <h4 class="panel-title">
    New Fish for: <%= @member.first_name + " " + @member.last_name %><br>
    Fishing Trip #<%= @fishing_trip.id.to_s %><br>
    Date: <%= @fishing_trip.created_at.to_s %>
  </h4>
</div>
<div class="panel-body">
  <%= form_for(@fish) do |f| %>
      <% if @fish.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@fish.errors.count, "error") %> prohibited this fish from being saved:</h2>

            <ul>
              <% @fish.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="field">
        <%= f.label :species_id %><br>
        <%= f.select(:species_id, @species) %>
      </div>
      <div class="field">
        <%= f.label 'Length' %><br>
        <%= f.text_field :ipl %>
      </div>
      <div class="field">
        <%= f.label 'Remainder' %><br>
        <%= f.select(:fpl, @decimals) %>
      </div>
      <div class="actions">
        <%= f.submit 'Add' %>
      </div>
  <% end %>
</div>